<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="MainDataContextConnectionString" connectionString="Data Source=E:\MyCode\YGSpider\trunk\YGSpider\YGSpider.App\YGSpider.db" />
 </connectionStrings>
 <appSettings>
		<add key="dbName" value="YGSpider.db"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>

